/* styles.css */
/* styles.css */

.post-container {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input,
  .form-textarea,
  .form-button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-item {
    margin-bottom: 5px;
  }
  
  /* Style the button with grey shade */
  .form-button {
    background-color: #CCCCCC;
    color: #000000;
    cursor: pointer;
  }
  