
.blog{
   
   
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    width: auto;
    height:15% ;
   margin-right: 3%;
   margin-left: 3%;
   margin-bottom: 15px;
  margin-top: 2px;
  z-index: 2;

}
.blog_content{
    display: flex;
    flex-direction: column;
 justify-content: space-evenly;
 align-content: space-evenly;
align-items: flex-start;
    
}
.blog_Image{
width: 100%;
height: auto;
border-radius: 2%;
display: flex;
align-items: center;
justify-content: center;

}
.blog_Image1{
    width: 340px;
    height: 170px;
    border-radius: 2%;
}
.blog_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}